{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} <!-- Here we load crispy_form to use with our form --> 

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {% csrf_token %} <!-- This csrf is for security purposes. without this the form will not work-->
        <fieldset class="form-group">
            <legend class=" border-bottom mb-4">Reset Password </legend>
            {{ form|crispy }} <!-- Here we use cripsy to customise our form-->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset</button>
        </div>
    </form>
</div>

{% endblock content %}