{% load static %}
<div class="container">
    <div id="about" class="about">
        <div class="about-left">
            <H3 class="aboutHead" ><span>ABOUT US</span></H3>
                <p class="startAbout">
                    Speech is defined as the ability
                    to convey thoughts, ideas, or other
                    information by means of articulating
                    sound into meaningful words.
                    Many animals can make sounds
                    and some can tailor these sounds 
                    to a given occasion
                </p>
                <a href="#" class="btn-get-started"> Learn More</a>
        </div>
        <div class="about-rigth">
            <img class="img-fluid animated" src="{% static 'file/images/about.png' %}" alt="about us">
        </div>
    </div>

</div>