{% load static %} {% load embed_video_tags %}
{% include 'partials/_messages.html'%}
<div class="container">
    <header class="header">
        <div class="header-left">
            <H3><span>Welcome to the WhiteCow Project</span></H3>
            <p class="startparagraph">
                Open Sans is one of the most popular web fonts on Google Fonts. It is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. It ca n be used for both title and body text and very compatible with many sans serif and
                serif fonts.Open Sans is one of the most popular web fonts on Google Fonts. It is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. It can be used for both title and body text and very compatible
                with many sans serif and serif fonts.Open Sans is one of the most popular web fonts on Google Fonts. It is a humanist
            </p>
            <button type="button" class="btn btn-outline-info">GET STARTED</button>
        </div>
        <div class="header-rigth">
            <div class="header-rigth2">
                <H4>2 Minutes Real Estate Video Tip</H4>
                <div class="video_holder">
                    <video controls>
                        <source src="https://www.youtube.com/watch?v=4l97azG4d3k" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </header>
</div>